body{
    /* This Image Was Drawn By The Student. */
    background-image: url(images/bgcsit121.png);
    background-repeat: round;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    padding: 3px 5px;
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 0px 0px 25px 25px;
}

.sidenav{
    width: 150px;
    position: fixed;
    z-index: 1;
    left: 10px;
    top: 16%;
    bottom: 20%;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 0px 25px 25px 0px;
}

.sidenav a{
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.main{
    margin-left: 160px;
    margin-right: 160px;
    font-size: 28px;
    padding: 0px 10px;
    color: #241a1d;
    background-color: #f7ffc5;
}

img{
    max-width:  100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer, .center{
    text-align: center;
}

.current{
    font-weight: bold;
    text-shadow: -2px 1px #91a16a;
}

header, .sidenav{
    background-color: #241a1d;
}

header, .sidenav ul, .sidenav a{
    color: #f7ffc5;
}

.sidenav a:hover, .sidenav li:hover, .main a:hover, .author{
    color: #8b6a44;
}

.sidenav .current, .main a{
    color:#62554c ;
}

#rainbow{
    text-align: center;
    font-size: 3rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    color: #d6f5e4;
    text-shadow: -4px 4px #312629,
                -8px 8px #463c3c,
               -12px 12px #62554c,
               -16px 16px #8b6a44,
               -20px 20px #b4c788;
}
