body {
    background-color: rgb(236, 215, 255);
    background-image: url(purplewat.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#hed{
    display: table;
    color:rgb(138, 9, 80);
}

a:link {
    color: rgb(73, 168, 121);
    text-decoration: none;
}

a:visited {
    color:rgb(70, 56, 17);
    text-decoration: none;
}

a:hover {
    color:hotpink;
    text-decoration: underline;
}
a:active {
    color:rgba(201, 0, 219, 0.856);
    text-decoration: underline;
}

ol {
    display: table;
    margin: 2 auto;
}

ul {
    display: table;
}
#gcolor {
    color: rgb(66, 194, 130);
}

article {
    color: rgb(184, 65, 138);
    margin: 4%;
}

h1 {
    text-align: center;
    color:rgb(192, 28, 118);
}
img.umbrella-gif{
    width: 100%;
    height: auto;
}

#bottom {
    color: #a10f53;
}

#lnkbot {
    color:rgb(12, 126, 69)
}
footer {
    color: rgb(14, 114, 64)
}