body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4C27A;
    min-width: 680px;
    color:#244A73;
    background-image: url(PixelForge-transparent.png);
    background-repeat: round;
    background-color: #4A90D9;
}

.open{display: none;
}

.closebtn{
    display: none;
}

nav{
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    background-color:#9EDEC3;
    border-radius: 10px;
    border: 3px solid #f2f2f2;
    min-width: 740px;
}

nav a{
    border: 3px solid #f2f2f2;
    background-color: #F4C27A;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    min-width: 160px;
    text-align: center;
    border-radius: 20px;
    color:#244A73;
    text-shadow: 2px 2px #f2f2f2;
}

h2, h1, caption{
    text-align: center;
    font-size: 40px;
    border: 3px solid #f2f2f2;
    background-color: #9EDEC3;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-shadow: 2px 2px #f2f2f2;
}

.main{
    display: flex;
    text-align: center;
    min-width: 740px;
    background-color: #9EDEC3;
    border: 3px solid #f2f2f2;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

.main .flex{
    width: 40%;
    background-color: #F4C27A;
    border: 3px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.main .flex h3{
    text-shadow: 2px 2px 2px #f2f2f2;
    font-size: 25px;
}

.main .flex p, th, td{
    font-size: 18px;
}

.main .flextable{
    background-color: #F4C27A;
    border: 3px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.main .flextable table{
    background-color: #F4C27A;
    border-radius: 10px;
    border: 3px solid #f2f2f2;
    padding: 5px;
}

.main .flextable table th,
.main .flextable table td{
    border: 2px solid #f2f2f2;
    padding: 5px;
    border-radius: 10px;
}

.main .flextable table th{
    text-shadow: 1px 1px 1px #9EDEC3;
}

@media (max-width: 740px){
    .open{
        position: fixed;
        font-size: 40px;
        cursor: pointer;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100px;
        left: 25px;
        top: 20px;
        text-align: center;
        display: block;
    }

    .closebtn{
        margin-left: 0;
        position: fixed;
        overflow: hidden;
        border: 0;
        width: 0;
        padding: 0;
        display: block;
        background-color: #9EDEC3;
        font-size: 25px;
    }
    
    nav{
        grid-template-columns: repeat(1, 1fr);
        width: 0;
        padding: 0;
        min-width: 0px;
        border: 0px;
        overflow: hidden;
        position: fixed;
        transition: 0.3s;
    }

    nav a{
        min-width: 0;
    }
    
    .main{
        flex-direction: column;
        min-width: 380px;
    }

    .main .flex{
        width: 90%
    }
}